<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	 
	<bean id="person" class="com.wte.le.spring.Person"> 
		<property name="name" value="wte"></property>
		<property name="age" value="31"></property>
		<property name="food" ref="food"></property>
	</bean>
	<!-- 配置文件的导入 -->
	<import resource="applicationContext-import-food.xml"/>
</beans>