<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="person" class="com.wte.le.spring.Person">
	<!-- 构造器注入 -->
	<!-- 指定name -->
	<constructor-arg name="name" value="wte"></constructor-arg>
	<!-- 指定index，type -->
	<constructor-arg index="1" value="18" type="int"></constructor-arg>
	<constructor-arg name="food"><ref bean="food"/></constructor-arg>
	<!--  
		<property name="name" value="wte"></property>
		<property name="age" value="31"></property>
		<property name="food" ref="food"></property>
	 -->
	</bean>
	<!-- 别名 -->
	<alias name="person" alias="alias_person"/>
	<!-- 配置文件的导入 -->
	<import resource="applicationContext-import-food.xml"/>
</beans>